.header {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  padding: var(--space-m) var(--space-l);
}

.logo-text {
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 2px;
  color: var(--storefront-purple);
  text-decoration: none;
}

.logo {
  color: var(--storefront-purple);
  text-decoration: none;
}
.header-wrapper {
  background:
    linear-gradient(
      to bottom,
      var(--storefront-light-gray),
      white,
      white,
      transparent
    ),
    var(--storefront-light-gray);
}
