:root {
  --storefront-gray: #cdcdcd;
  --storefront-white: #e0e0e0;
  --storefront-light-gray: #dedede;
  --storefront-muted: #8f8f8f;
  --storefront-dark-gray: #404040;
  --storefront-purple: #6c36ad;
  --storefront-purple-10: rgba(108, 54, 173, 0.1);
  --storefront-green: #00905e;

  --space-xs: 3px;
  --space-s: 6px;
  --space-m: 12px;
  --space-l: 24px;

  --font-size-small: 12px;
  --font-size-base: 14px;
  --font-size-h1: 24px;
  --font-size-h2: 18px;
  --font-size-h3: 18px;
  --font-size-h4: 16px;
  --font-size-h5: 16px;
  --font-size-h6: 16px;

  --shadow: 0px 1px 3px #aca8a8;
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  background:
    linear-gradient(to bottom, var(--storefront-purple-10), transparent),
    var(--storefront-gray);
}

img {
  display: block;
}

.layout-positioning {
  width: 1060px;
  padding: 0 var(--space-l);
  margin: 0 auto;

  @media screen and (max-width: 1060px) {
    width: 100%;
  }
}

figure,
ul,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  display: none;
  opacity: 0;
  width: 0;
  height: 0;
}

button {
  all: unset;
  cursor: pointer;
}
